
<div class="wrapper">
  <header>

    <h1>Alberto Stefanelli</h1>
    <p></p>
    <img class="circular_image" src="assets/images/avatar.png" alt="Avatar">
    <p></p>
    <p style="color:#6f777d;font-weight:bold">FWO PhD Fellow, KU Leuven</p>
    <p></p>

    <p align="justify">My research focuses on radicalism, populism, voting behaviour and democratic representation. In particular, I explore the motivations behind individuals embracing radical ideologies and analyzes their profound impact on political judgments and attitudes toward democracy. I am also interested in political methodologically, particularly in conjoint experiments, matching, interviewer effects, NPL, and machine learning.</p>

    <hr width="70%">

        <p><a href="/cv/cv_stefanelli.pdf">Curriculum Vitae</a></p>
    <p><a href="https://www.kuleuven.be/wieiswie/en/person/00125085">Department Page</a><p>


    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/albertostefanelli" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="https://scholar.google.com/citations?user=8sFrFsEAAAAJ&hl=en" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://www.twitter.com/sergsagara/" class="is-icon"><i class="fab fa-twitter fa-2x"></i></a></div>
    </div>

    <br>

    <p>
      alberto.stefanelli@kuleuven.be<br>
      Institute for Social and Political Opinion Research<br>
      Parkstraat 45 - box 3601, Room 02.135<br>
      KU Leuven<br>
      Belgium<br>
    </p>

  </header>
</div>
